.App { 
  text-align: center;
}

.error {
  padding: 10px 20px;
  background-color: #fff5f5;
  border: 1px solid #ff8787;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  color: #c92a2a;
  margin-bottom: 10px;
}